<div class="dashboard">

  <div class="interactive">
    <app-search
      class="interactive__search"
      [isLoading]="(isLoading$ | async)!"
      (inputSearch)="searchRepository($event)"
    ></app-search>

    <app-filter
      class="interactive__filter"
      *ngIf="(repositories$ | async)?.length"
      [selectOptionList]="(selectOptionList$ | async)!"
      (selectionChange)="filterRepository($event)"
    ></app-filter>
  </div>

  <div class="repository">
    <ul class="repository__list">
      <li
        class="repository__item"
        *ngFor="let repository of repositories$ | async; trackBy: trackByIdFn"
      >
        <app-repository-card
          [repository]="repository"
          (toggleToFavorite)="toggleToFavorite($event)"
        ></app-repository-card>
      </li>
    </ul>
  </div>
</div>
