<div class="dashboard">

  <div class="interactive">
    <app-search
      class="interactive__search"
      [isLoading]="(isLoading$ | async)!"
      (inputSearch)="searchRepository($event)"
    ></app-search>

    <app-filter
      class="interactive__filter"
      *ngIf="(repositories$ | async)?.length"
      [selectOptionList]="(selectOptionList$ | async)!"
      (selectionChange)="filterRepository($event)"
    ></app-filter>
  </div>

  <app-repository-cards
    [repositories]="(repositories$ | async)!"
    (toggleToFavorite)="toggleToFavorite($event)"
  ></app-repository-cards>
</div>
