:host {
  display: block;
  width: 100%;
  height: 100%;
}

.repository-card {
  width: 100%;
  height: 100%;

  &__img {
    display: block;
    object-fit: cover;
  }

  &__title {
    word-break: break-all;
  }

  &__button {
    margin-top: 10px;
  }
}

