:host {
  display: block;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    flex: 1 0 auto;
    padding: 15px 0;
  }

  &__footer {
    flex: 0 0 auto;
  }
}
