/* You can add global styles to this file, and also import other style files */
// @import 'destyle';

@import '~destyle.css/destyle';


// !reset input[type=number]
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


@import '@angular/material/prebuilt-themes/indigo-pink.css';


// //!
html {
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  min-width: 300px;
  height: 100vh;
  min-height: -webkit-fill-available;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
